*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

main{
    height: calc(100vh - 50px);
    background-color: #F8F9FA;
}

/* HEADER */

header{
    height: 50px;
}

.logo-mobile{
    width: 50px;
}

.logo{
    width: 150px;
}

.gold{
    color: #FFD700;
}
/* SIDEBAR */

.sidebar{
    height: 100%;
    width: 75px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

/* MAIN-CONTENT */

.main-content{
    height: 100%;
    width: calc(100% - 75px);
}

/* MAIN-CONTENT-TOP */

.main-content-top{
    background-color: #1B72E8;
}

.main-content-top .badge{
    background-color: #165BBA;
}

.offcanvas.offcanvas-end{
    width: 100vw;
}

.offcanvas.offcanvas-end label{
    padding-top: 5px;
}


/* MAIN-CONTENT-BOTTOM */

tr td:nth-child(n+2) , th:nth-child(n+2){
    text-align: center;
}

table img{
    width: 25px;
}

/* MEDIA-QUERY */

@media screen and (min-width:992px) {
    .sidebar{
        width:200px;
    }

    .offcanvas.offcanvas-end{
        width: 50vw;
    }
    
    .main-content{
        width: calc(100% - 200px);
    }

    .width{
        width: 40%;
    }
}
