*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* COMMON */
main{
    height: calc(100vh - 75px);
    background-color: #F8F9FA;
}
/* HEADER */
header{
    height: 75px;
    border: 2px solid red;
}

header img{
    width: 70px;
}
/* SIDEBAR */
.sidebar{
    height: 100%;
    width: 75px;
    border: 2px solid red;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

/* MAIN-CONTENT */
.main-content{
    height: 100%;
    width: calc(100% - 75px);
    border: 2px solid blue;
}
/* MAIN-CONTENT-TOP */

.main-content-top{
    background-color: #1B72E8;
}

.main-content-top .badge{
    background-color: #165BBA;
}
/* MAIN-CONTENT-BOTTOM */
tr td:nth-child(n+2) , th:nth-child(n+2){
    text-align: center;
}

/* BACKGROUND */


/* MEDIA-QUERY */

@media screen and (min-width:992px) {
    .sidebar{
        width:200px;
    }
}
